---
import { SignedIn, SignedOut, UserButton, SignUpButton } from "@clerk/astro/components";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
 
  </head>
  <body class="min-h-screen bg-[url('/assets/hero/anmol-hero.png')] bg-cover bg-no-repeat flex justify-center items-center ">
    <div class="bg-white bg-opacity-70 p-8 rounded shadow-md w-96">
      <header class="text-center mb-8">
        <h1 class="text-3xl font-bold mb-4">Seeking Support?</h1>
        <p class="text-gray-600">Login to access resources and connect with others.</p>
      </header>
      
      <nav class="flex justify-center space-x-4 mb-6">
        <SignedOut>
          <SignUpButton mode="modal" class="bg-primary hover:bg-primary-700 text-white font-bold py-2 px-4 rounded">Sign Up</SignUpButton>
        </SignedOut>
        <SignedIn>
          <UserButton />
        </SignedIn>
      </nav>
      <article>
        <slot />
      </article>
    </div>
  </body>
</html>
